/*-------- Button Styles ---------- */
.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn-small {
    padding: 5px 9px;
    font-size: 13px;
    line-height: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
}

    }
.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/* ------- Fluid Columns ------- */
.one_half, .one_third, .two_third, .three_fourth, .one_fourth,.two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    position: relative;
    margin-right: 4%;
    float: left;
}
p.one_half, .one_third, .two_third, .three_fourth, .one_fourth,.two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    font-size: 0.9em;
}
.one_half {
    width: 48%;
}
.one_third {
    width: 30.6666%;
}
.two_third {
    width: 65.3332%;
}
.one_fourth {
    width: 22%;
}
.two_fourth {
    width: 48%;
}
.three_fourth {
    width: 74%;
}
.one_fifth {
    width: 16.8%;
}
.two_fifth {
    width: 37.6%;
}
.three_fifth {
    width: 58.4%;
}
.four_fifth {
    width: 79.2%;
}
.one_sixth {
    width: 13.3333%;
}
.two_sixth {
    width: 30.6666%;
}
.three_sixth {
    width: 47.9998%;
}
.four_sixth {
    width: 65.3332%;
}
.five_sixth {
    width: 82.6665%;
}
.last {
    margin-right: 0 !important;
    clear: right;
}
/* Two level columns
---------------------------------------------------------- */
.one_half .one_half {
    margin-right: 8.3333%;
    width: 45.8333%;
}
.one_half .one_third {
    margin-right: 8.3333%;
    width: 27.7778%;
}
.one_half .two_third {
    margin-right: 8.3333%;
    width: 63.8889%;
}
.two_third .one_third {
    margin-right: 6.1224%;
    width: 29.2517%;
}
.two_third .two_third {
    margin-right: 6.1224%;
    width: 64.6258%;
}
.two_third .one_fourth {
    margin-right: 6.1224%;
    width: 20.4082%;
}
.clearboth{
    clear:both;
}


/* Divider
---------------------------------------------------------- */
.space_divider{
    display:block;
    clear:both;
    padding:25px;
}

/* ------- Quotes ------- */
#content blockquote.alignleft {
    margin:10px 20px 0 0;
    width:250px;
}
#content blockquote.alignright {
    margin:10px 0 0 20px;
    width:250px;
}
.alignleft {
    float:left;
}
#content blockquote {
    color:#444444;
    font-family:Georgia,"Times New Roman",Times,serif;
    line-height:19px;
    padding:10px 20px 10px 45px;
}
#content  blockquote p{
    font-size:15px;
    margin-right:10px;
}
#content  blockquote p.qp{
    height:35px;
    width:30px;
    display:inline;
    float:left;
    margin-bottom:0;
    position: relative;
}

#content  blockquote p.qp i{
    font-family: FontAwesome;
    font-size: 112px;
    position: absolute;
    left: -34px;
    top: 40px;
    font-style: normal;
}


#content blockquote p cite{
    font-size:11px;
    color:#b7b7b7;
}
.alignright{
    float:right;
}
.alignleft{
    float:left;
}


/* ------- Code ------- */
.code {
    background:#f4f5f5 url(../images/code.png) repeat;
    padding:20px 10px;
}
.code, .pre {
    border:1px solid #E0E0E0;
    overflow:auto;
    white-space:pre-wrap;
    line-height:20px;
    font-size:12px;
    display:block;
}



/* ------- Lists ------- */
ul.list-s li span{
    /* background:#707070 url(../images/Listspatterns.png) no-repeat; */
    height:14px;
    width:16px;
    display:inline-block;
    float:left;
    margin-right:3px;
    margin-top:2px;
}
ul.list-s li{
    list-style:none;
    margin-left:0;
    margin-bottom:3px;
}
ul.list1 li span{
    background-position:0 0px;
}
ul.list2 li span{background-position:0 -17px;}
ul.list3 li span{background-position:0 -34px;}
ul.list4 li span{background-position:0 -55px;}
ul.list5 li span{background-position:0 -72px;}
ul.list6 li span{background-position:0 -89px;}
ul.list7 li span{background-position:0 -105px;}
ul.list8 li span{background-position:0 -122px;}
ul.list9 li span{background-position:0 -139px;}
ul.list10 li span{background-position:0 -157px;}
ul.list11 li span{background-position:0 -174px;}


/* ------- Highlights ------- */
.highlight{
    background-color:#FFFF99;
}
.highlight.dark{
    background-color:#333333;
    color:#fff;
}
/* ------- Frames ------- */
.image-frame{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .35);
    -moz-box-shadow:  0 1px 2px rgba(0, 0, 0, .35);
    -webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, .35);
    /*padding: 5px;*/
    margin-bottom: 0.6em;
    border: 4px solid #fff !important;
}
img.alignleft{
    float:left;
    margin:2px 16px 2px 2px !important;
}
img.alignright{
    float:right;
    margin:2px 16px 2px 2px !important;
}
.map-frame{
    /*
     -moz-box-shadow:0 1px 3px #919192;
     box-shadow: 0 1px 3px #919192;
     -webkit-box-shadow: 0 1px 3px #919192;
     -o-box-shadow: 0 1px 3px #919192;
     */
    background-color:#e8e9e9;
    background:-moz-linear-gradient(center bottom , #e8e9e9 0px, #F2F2F2 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left bottom,left top, color-stop(0, #e8e9e9),color-stop(1, #F2F2F2));
    /*
     border:1px solid #FFFFFF !important;
     -moz-border-radius:4px;
     border-radius:4px;
     -webkit-border-radius:4px;
     */
    margin-bottom:1.6em;

}




/* ------- Alert Boxes ------- */
.alert-box i{
    padding: 0 15px 0 0 ;
    font-size: 20px;
}

.info-box{

    background-color:#d4e6fd;
    border:#89aacd 1px solid;
    -moz-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    color:#5887b9;
    padding:8px 8px 8px 8px;
    margin:15px 0;
}
.error-box{

    background-color:#fcd7d8;
    border:#cd8989 1px solid;
    -moz-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    color:#dd2d2d;
    padding:8px 8px 8px 8px;
    margin:15px 0;
}
.check-box{

    background-color:#d7fcd9;
    border:#89cd89 1px solid;
    -moz-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    color:#419a62;
    padding:8px 8px 8px 8px;
    margin:15px 0;
}
/* ------- Toggle ------- */
h3.trigger {
    padding: 0 0 0 20px;
    margin: 0 0 5px 0;
    background:url(../images/toggles_h2.jpg) repeat-x;
    height: 38px;
    line-height: 38px;
    border:#afafaf 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow:0 1px 3px #dbdada;
    -moz-box-shadow: 0 1px 3px #dbdada;
    -webkit-box-shadow: 0 1px 2px #dbdada;
}
h3.trigger a {
    color: #707070;
    text-decoration: none;
    display: block;
    text-shadow:0 1px 0 #fff;
    font-size:18px;
    background:url(../images/toggle_arrow.png) 0 10px no-repeat;
    padding: 0 0 0 30px;
    line-height: 38px;
}
h3.trigger a:hover { color: #ccc; }
h3.trigger a.active {background-position: 0 -20px;}
.toggle_container {
    margin: 0 0 5px;
    padding: 0;
    background: #f0f0f0;
    overflow: hidden;
    clear: both;
    border:#d6d6d6 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow:0 1px 3px #dbdada;
    -moz-box-shadow: 0 1px 3px #dbdada;
    -webkit-box-shadow: 0 1px 2px #dbdada;
}
.toggle_container .block {
    padding: 20px; /*--Padding of Container--*/
}



/* ------- Lines ------- */
.line_full{
    background:url(../images/line_separ.png) center no-repeat;
    height:8px;
    width:880px;
    display:block;
    margin: 20px 0;
}


/* ------- HR ------- */
.hr{

    margin: 2em 0 2em 0;

}


/* ------- Tabs ------- */

/* root element for tabs  */
.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    height:30px;
}

/* single tab */
.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
.tabs a {
    background:#3d3c3c;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 111px;
    text-align:center;
    text-decoration:none;
    color:#969595!important;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
.tabs a:hover {
    background:#4b4b4b;
    color:#fff;
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.tabs .current, .tabs .current:hover, .tabs li.current a {
    background:#5f5f5f;
    cursor:default !important;
    color:#b8b8b8 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
.tabs .w1 			{ background-position: -519px 0; width:134px; }
.tabs .w1:hover 	{ background-position: -519px -31px; }
.tabs .w1.current { background-position: -519px -62px; }

/* width 2 */
.tabs .w2 			{ background-position: -366px -0px; width:154px; }
.tabs .w2:hover 	{ background-position: -366px -31px; }
.tabs .w2.current { background-position: -366px -62px; }


/* width 3 */
.tabs .w3 			{ background-position: -193px -0px; width:174px; }
.tabs .w3:hover 	{ background-position: -193px -31px; }
.tabs .w3.current { background-position: -193px -62px; }

/* width 4 */
.tabs .w4 			{ background-position: -0px -0px; width:194px; }
.tabs .w4:hover 	{ background-position: -0px -31px; }
.tabs .w4.current { background-position: -0px -62px; }


/* initially all panes are hidden */
.panes .pane {
    display:none;
}
.panes .panes-div{
    background:#5f5f5f;
    padding:15px;
}


/* ------- Accordions Bootstrap ------- */

.accordion-heading a{
    font-size: 0.875em;
    outline: none;
}
.accordion-body{
    font-size:	0.8125em;
}
.accordion-group{
    margin-bottom: 4px;
}


/*--------------- Icons ---------------------*/

.icon_holder_accLarge {
    display: inline-block;
    width:80px;
    height:80px;
    color:#fff;
    line-height: 1.65em;
    font-size: 50px;
    text-align:center;
    margin-bottom: 10px;
}

.icon_holder_accMedium {
    display: inline-block;
    width:50px;
    height:50px;
    color:#fff;
    line-height: 1.75em;
    font-size: 30px;
    text-align:center;
    margin-bottom: 10px;
}

.icon_holder_accSmall {
    display: inline-block;
    width:30px;
    height:30px;
    color:#fff;
    line-height: 1.75em;
    font-size: 18px;
    text-align:center;
    margin-bottom: 10px;
}