<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US" class="no_js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href='style.css' type='text/css' media='all'/>
    <style type="text/css">
        .blue #wrap{background: #009AFF;}
        .blue footer.expanded{background: #009AFF;}
        .blue .footer_bottom{background: #008EEB;}

        .orange #wrap{background: #F38917;}
        .orange footer.expanded{background: #F38917;}
        .orange .footer_bottom{background: #EA7F0C;}

        .purple #wrap{background: #662D91;}
        .purple footer.expanded{background: #662D91;}
        .purple .footer_bottom{background: #5B2881;}

        .dimred #wrap{background: #A3001D;}
        .dimred footer.expanded{background: #A3001D;}
        .dimred .footer_bottom{background: #8F0019;}


        .pastelred #wrap{background: #D93629;}
        .pastelred footer.expanded{background: #D93629;}
        .pastelred .footer_bottom{background: #CA3024;}
    </style>
</head>
<body class="pastelred">
<div id="wrap">
    <!-- site header -->
    <header>
        <div class="container">
            <div class="row" id="site_header">
                <aside class="five columns logo_env">
                    <span class="logo_txt">Witaj na aukxjiii</span>
                </aside>
                <nav id="site_menu">
                    <ul class="main_menu">
                        <li class=""><a href="http://themes.laborator.co/silicon/contact/">Contact</a></li>
                        <li class=""><a href="http://themes.laborator.co/silicon/contact/">Contact</a></li>
                        <li class=""><a href="http://themes.laborator.co/silicon/contact/">Contact</a></li>
                        <li class=""><a href="http://themes.laborator.co/silicon/contact/">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</div>
</header>
<!-- end: slider -->
<div class="container" id="content">
    <div class="row ">
        <div class="sixteen columns">
            <div class="row">
                    <div class="eight columns sidebar">
                        <div class="sidebar_entry widget_categories ">
                            <h2 class="sidebar_title">Categories</h2>
                            <ul>
                                <li class="cat-item cat-item-3"><a title="View all posts filed under Blogging" href="http://themes.laborator.co/silicon/category/blogging/">Blogging</a>
                                </li>
                                <li class="cat-item cat-item-1"><a title="View all posts filed under General" href="http://themes.laborator.co/silicon/category/general/">General</a>
                                </li>
                                <li class="cat-item cat-item-5"><a title="View all posts filed under Lifestyle" href="http://themes.laborator.co/silicon/category/lifestyle/">Lifestyle</a>
                                </li>
                                <li class="cat-item cat-item-4"><a title="View all posts filed under Personal" href="http://themes.laborator.co/silicon/category/personal/">Personal</a>
                                </li>
                            </ul>
                            <p>kj jh kjhk jhkh kjk hj jhjhk jh khjjh kjhk jhkh kjk hj jhjhk jh khjjh kjhk jhkh kjk hj jhjhk jh khj</p>
                        </div>

                    </div>
                    <div class="twelve columns" id="homepage_posts">
                        <div>
                            <style type="text/css">
                                #content table tr td{
                                    padding:5px;

                                }
                                .specyf td{
                                    border: 1px solid black;
                                }
                                .specyf tr:nth-child(odd) {
                                    background: #c0c0c0;
                                }</style>
                            <p>
                                <img height="220" src="https://lh4.googleusercontent.com/-5_38RyL93Jk/UUCX25jcgTI/AAAAAAAALC0/2PQMlIJJOBw/s0/proaukcje.jpg" width="747" /></p>
                            <h1>
                                Na tej aukcji kupisz telefon, kt&oacute;ry jest najlepszy w świecie i w okolicach</h1>
                            <p>
                                &nbsp;</p>
                            <h2>
                                <span style="color:#ff0000;">Samsung Galaxy SIII i9300</span></h2>
                            <p>
                                &nbsp;</p>
                            <p>
                                <span style="color:#000000;">Dlaczego jest on najlepszy? Odpowiedź znajdziesz w poniższym zestawieniu:</span></p>
                            <table align="center" border="1" cellpadding="0" cellspacing="0" style="width: 520px;" stype="paddig:5px;" summary="Przekonany?">
                                <caption>
                                    Najważniejsze cechy smarfona</caption>
                                <tbody>
                                <tr>
                                    <td>Wyświetlacz</td>
                                    <td>ma</td>
                                </tr>
                                <tr>
                                    <td>SMS</td>
                                    <td>tak</td>
                                </tr>

                                <tr>
                                    <td><strong>Możliwość ładowania</strong></td>
                                    <td><strong>tak&nbsp;&nbsp;&nbsp; </strong></td>
                                </tr>
                                </tbody>
                            </table>
                            <p>
                                &nbsp;</p>
                            <p>
                                Aby jeszcze bardziej przybliżyć telefon, przedstawiamy mini galerię</p>
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 500px; border:none">
                                <tbody>
                                <tr>
                                    <td style="text-align: center;"><img src="https://lh5.googleusercontent.com/-WxqzSIwShck/UUCWindyCbI/AAAAAAAALCs/6dJ9lm5SVDE/s0/proaukcje.jpg" /></td>
                                    <td style="text-align: center;"><img src="https://lh6.googleusercontent.com/-52xIwccO3G0/UUCWhsGj1OI/AAAAAAAALCk/MYrGaEAh7z8/s0/proaukcje.jpg" /></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://lh5.googleusercontent.com/-fokkf_ONpB0/UUCWexOVY9I/AAAAAAAALCU/ToHx2dqJLe0/s0/proaukcje.jpg" /></td>
                                    <td style="text-align: center;"><img src="https://lh3.googleusercontent.com/-vRdsqLNo55k/UT9mHFHf00I/AAAAAAAALA8/0vtxamRCXcI/s0/proaukcje.jpg" style="width: 300px;" /></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://lh3.googleusercontent.com/-YnmgRfdHF0A/UT9mFWB2uuI/AAAAAAAALA0/I2OkKIBULqU/s0/proaukcje.jpg" style="width: 300px;" /></td>
                                    <td style="text-align: center;"><img src="https://lh6.googleusercontent.com/-FrnEW79CmLk/UT9l5TQVh4I/AAAAAAAALAc/VWo6ZldAijU/s0/proaukcje.jpg" /></td>
                                </tr>
                                </tbody>
                            </table>
                            <p>
                                &nbsp;</p>
                            <table border="0" cellpadding="0" cellspacing="0" class="specyf" style="width: 500px;border:1px solid black;">
                                <caption>
                                    Specyfikacja</caption>
                                <tbody>
                                <tr>
                                    <td>Waga</td>
                                    <td>133 g</td>
                                </tr>
                                <tr>
                                    <td>Wymiary</td>
                                    <td>136.6 x 70.6 x 8.6 mm</td>
                                </tr>
                                <tr>
                                    <td>Bateria</td>
                                    <td>Li-Ion 2100 mAh</td>
                                </tr>
                                <tr>
                                    <td>Pasmo pracy GSM</td>
                                    <td>850/900 /1800/1900 MHz</td>
                                </tr>
                                <tr>
                                    <td>System operacyjny</td>
                                    <td>Android 4.1 (Jelly Bean)</td>
                                </tr>
                                <tr>
                                    <td>Procesor</td>
                                    <td>Quad-core 1.4 GHz Cortex-A9, Mali-400MP</td>
                                </tr>
                                <tr>
                                    <td>Dwie karty SIM (DOUZ)</td>
                                    <td>Nie</td>
                                </tr>
                                <tr>
                                    <td>Klawiatura QWERTY</td>
                                    <td>Nie</td>
                                </tr>
                                <tr>
                                    <td>Wzmocniona obudowa</td>
                                    <td>Nie</td>
                                </tr>
                                <tr>
                                    <td>Kolor</td>
                                    <td>Niebieski / biały (opcjonalnie)</td>
                                </tr>
                                <tr>
                                    <td>Wielkość w calach</td>
                                    <td>4.8&quot;</td>
                                </tr>

                                </tbody>
                            </table>
                            <p>
                                &nbsp;</p>
                            <p>
                            <ul>
                                <li>lista</li>
                                <li>wypunkto</li>
                                <li>wana</li>
                            </ul>
                            <ol>
                                <li>lista</li>
                                <li>numero</li>
                                <li>wana</li>
                            </ol>
                            <pre>ABECałdo</pre>
                            <br />
                            Źr&oacute;dła:<br />
                            <br />
                            <span style="font-size:9px;">&nbsp;opis i obrazki: http://www.samsung.com/pl/consumer/mobile-phone/mobile-phones/smartphone/GT-I9300MBDXEO</span></p>
                            <p>
                                <span style="font-size:9px;">http://hem.passagen.se/mdalen/invanare.htm</span></p>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<footer class="expanded">
    <div class="container">
        <div class="row" id="footer">
            <div class="sixteen columns">
                <div class="footer_block">
                    <h2 class="title">Testimonials</h2>
                    <p>
                        Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove... Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove... Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove...
                    </p>
                </div>
                <div class="footer_block">
                    <h2 class="title">Testimonials</h2>
                    <p>
                        Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove... Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove... Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove...
                    </p>
                </div>
                <div class="footer_block">
                    <h2 class="title">Information</h2>
                    <p>
                        Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove... Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove... Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
                <p>
                    © 2013 <a href="http://themeforest.net/item/silicon-responsive-wordpress-theme/3910239">Silicon</a> theme by <a href="http://laborator.co/" target="_blank">Laborator.co</a>
                </p>
        </div>
    </div>
</footer>
<!-- end: footer -->
</body>
</html>