<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CleanBegin - A bootstrap company theme</title>


    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>

    <!-- CSS styles -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="syle.css" rel="stylesheet">

</head>

<body>
<div class="navbar">

    <div class="container">
        <div class="top"></div>
        <div class="navbar-inner">
            <div class="container">
                <a class="brand squadaOne " href="index.html"><span class="themeColor">Clean</span>Begin <br/> <span class="underLine">A bootstrap theme</span></a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="singleitem.html">Single Item</a></li>
                                <li><a href="2column.html">2 column</a></li>
                                <li><a href="3column.html">3 column</a></li>
                                <li><a href="4column.html">4 column</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="textcolumns.html">Text columns</a></li>
                                <li><a href="misc.html">Misc</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>

<div class="container all">



    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="header">
        <h1>Welcome to our company!</h1>
        <p>This is a template that makes use of the <span class="themeColor">bootstrap</span> framework.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <!-- Example text row -->
    <div class="row">
        <div class="span5">
            <h2>Beautiful products </h2>
            <p>Nam nec sem ac lacus accumsan scelerisque. Cras sit amet ante eget orci cursus sollicitudin eu eget dui. Integer sollicitudin nisl ut lorem blandit in aliquam libero egestas. Fusce mollis ullamcorper imperdiet. Donec gravida risus at ante posuere imperdiet. Nullam id eros sit amet quam hendrerit dictum in et augue.Praesent eget turpis dui. Suspendisse iaculis luctus sem, quis sagittis ligula facilisis pretium. Pellentesque lobortis dui semper nunc pretium a tincidunt odio mattis. Aliquam et ipsum dolor. </p>
            <p>
                Aenean in velit urna, vel fermentum eros. Nullam id eros sit amet quam hendrerit dictum in et augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eget augue tortor, ac lobortis mi. Aliquam lobortis euismod massa in dictum. Proin ac viverra magna.
            </p>

        </div>
        <div class="span4">
            <h2>Beautiful products </h2>
            <p>
                Aenean in velit urna, vel fermentum eros. Nullam id eros sit amet quam hendrerit dictum in et augue.  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eget augue tortor, ac lobortis mi. Aliquam lobortis euismod massa in dictum. Proin ac viverra magna.
            </p>
            <p>Nam nec sem ac lacus accumsan scelerisque. Cras sit amet ante eget orci cursus sollicitudin eu eget dui. Integer in aliquam libero egestas. Fusce mollis ullamcorper imperdiet. Donec gravida risus at ante posuere imperdiet. Praesent eget turpis dui. Suspendisse iaculis luctus sem, quis sagittis ligula facilisis pretium. Semper nunc pretium a tincidunt odio mattis. Aliquam et ipsum dolor. </p>

        </div>
        <div class="span3 background-span">
            <h2>Company</h2>
            <img src="img/demo_only/kevin-dooley.jpg" alt="title">
            <address>
                Noname St 9 <br/>
                Tembisa 1632 <br/>
                South Africa <br/><br/>
                Telephone: +33(0)1234 5678 <br/>
                E-mail: no-reply@CleanBegin.No
            </address>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="span8">
            <h3>Easy Thumbnails with hyperlinks</h3>
            <p>
                Duis nec lobortis ante. Cras magna purus, vulputate a porttitor vitae, mattis a dui. Phasellus libero lorem, posuere vel imperdiet sagittis, semper vitae lacus. Curabitur diam odio, viverra volutpat volutpat quis, mattis vel est. Phasellus sit amet sapien nec odio mattis dapibus. Praesent in nisi odio, ut consectetur eros. Vivamus accumsan placerat adipiscing.</p>
            <ul class="thumbnails">
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/360x268" alt="title">
                    </a>

                </li>
                <li class="span2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/160x120" alt="title">
                    </a>
                </li>
                <li class="span2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/160x120" alt="title">
                    </a>
                </li>
                <li class="span2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/160x120" alt="title">
                    </a>
                </li>
                <li class="span2">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/160x120" alt="title">
                    </a>
                </li>
            </ul>


        </div>
        <div class="span4">
            <blockquote class="pull-right ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Your latest client</small>
            </blockquote>
            <blockquote class="pull-right margin-top-15">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Your latest client</small>
            </blockquote>
            <blockquote class="pull-right margin-top-15">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Your latest client</small>
            </blockquote>

        </div>

    </div>




    <hr>

    <footer>
        <div class="row">
            <div class="span2">
                <h4>Sitemap</h4>
                <hr>
                <ul>
                    <li>
                        <a href="#" title="empty">HOME</a>
                    </li>
                    <li>
                        <a href="#" title="empty">PORTFOLIO</a>
                    </li>
                    <li>
                        <a href="#" title="empty">STYLES</a>
                    </li>
                    <li>
                        <a href="#" title="empty">CONTACT</a>
                    </li>

                </ul>
            </div>
            <div class="span3">
                <h4>Company address</h4>
                <hr>
                <address>
                    Noname St 9 <br/>
                    Tembisa 1632 <br/>
                    South Africa <br/><br/>
                    Telephone: +33(0)1234 5678 <br/>
                    E-mail: no-reply@CleanBegin.No
                </address>
            </div>
            <div class="span3">
                <h4>Stay connected</h4>
                <hr>

                <a class="icon_margin_span3 footer_icon" href="#"><img src="img/icons/digg-bw.png" alt="title"></a>
                <a class="icon_margin_span3 footer_icon" href="#"><img src="img/icons/dribbble-bw.png" alt="title"></a>
                <a class="icon_margin_span3 footer_icon" href="#"><img src="img/icons/youtube-bw.png" alt="title"></a>
                <a class="footer_icon" href="#"><img src="img/icons/email-bw.png" alt="title"></a>

                <!-- Next Row -->
                <hr>

                <a class="icon_margin_span3 footer_icon" href="#"><img src="img/icons/facebook-bw.png" alt="title"></a>
                <a class="icon_margin_span3 footer_icon" href="#"><img src="img/icons/linkedin-bw.png" alt="title"></a>
                <a class="icon_margin_span3 footer_icon" href="#"><img src="img/icons/rss-bw.png" alt="title"></a>
                <a class="footer_icon" href="#"><img src="img/icons/twitter-bw.png" alt="title"></a>


            </div>
            <div class="span4">
                <h4>Newsletter</h4>
                <hr>
                <form>
                    <input type="text" class="span4" placeholder="Your name">
                    <input type="email" class="span4" placeholder="Your e-mail">
                    <label class="checkbox">
                        <input type="checkbox"> I accept the <a href="#" title="User Agreement">User Agreement</a> and <a href="#" title="Privacy Policy">Privacy Policy</a>.
                    </label>
                    <br/>
                    <button type="submit" class="btn">Sign-up for the newsletter</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span6">
                Copyright &copy; 2012 Your Company Name. All rights reserved.
            </div>
            <div class="span6 pagination-right">
                <a href="http://www.pingonline.nl" title="Webdesign">CleanBegin template by PingOnline</a> - <a href="#">Sitemap</a>
            </div>
        </div>
    </footer>

</div> <!-- /container -->

<!-- Javascript include and script -->

</body>
</html>